<section class="mart-section">
  <h2>상점 정보 검색</h2>
  <div class="search-controls">
    <input
      id="item-search"
      type="text"
      placeholder="장소, 아이템을 검색"
      [formControl]="searchContext"
    />
  </div>

  <div class="mart-container">
    @for (martData of filteredMartDatats$ | async; track martData.index) {
      <div class="location-section">
        <div class="location-header" (click)="toggleExpand(martData.index)">
          <h2
            [innerHTML]="
              martData.value.locationName | highlight: searchContext.value
            "
          ></h2>
        </div>
        @if (expandedLocation === martData.index) {
          <div>
            <table>
              <thead>
                <tr>
                  <th>아이템 목록</th>
                  <!-- <th>가격</th> -->
                </tr>
              </thead>
              <tbody>
                @for (itemDetail of martData.value.items; track $index) {
                  <tr>
                    <td
                      [innerHTML]="
                        itemDetail.name | highlight: searchContext.value
                      "
                    ></td>
                    <!-- <td>{{ itemDetail.price }}</td> -->
                  </tr>
                }
              </tbody>
            </table>
          </div>
        }
      </div>
    }
  </div>
</section>
