<div class="pokemon-card-container">
  <div class="pokemon-card-content">
    @if (useSprite && hasGender) {
      <!-- 성별 표기-->
      <button
        class="gender-button"
        [class.male-active]="!isGenderFemale"
        [class.female-active]="isGenderFemale"
        (click)="toggleGender()"
        [attr.aria-label]="isGenderFemale ? '암컷' : '수컷'"
        title="성별 변경"
      ></button>
    }
    <img
      class="pokemon-image"
      [ngSrc]="currentImageUrl"
      width="96"
      height="96"
      (click)="toggleSprite()"
    />
    <div class="pokemon-info">
      <div class="pokemon-name">{{ pokemon.koreanName || pokemon.name }}</div>
      <div class="pokemon-id">{{ displayId }}</div>
    </div>
    <div class="pokemon-types-container" (click)="goToDefensePage()">
      @for (type of currentPokemon.types; track $index) {
        <span class="type-badge type-{{ type }}">
          {{ displayType(type) }}
        </span>
      }
    </div>

    @if (currentPokemonStats) {
      <app-pokemon-stat
        style="width: 100%; margin-top: 15px"
        [pokemonStats]="currentPokemonStats"
      ></app-pokemon-stat>
    }
    @if (currentAbility) {
      <div class="ability-description">
        <div>
          <b>배틀 효과</b>
          <div>{{ currentAbility.effect_text }}</div>
        </div>
        @if (currentAbility.effect_wild_text) {
          <div>
            <b>야생 효과</b>
            <div>{{ currentAbility.effect_wild_text }}</div>
          </div>
        }
      </div>
    }
  </div>

  <div class="pokemon-ability">
    <div class="ability-name-box">
      @if (currentPokemon.abilities) {
        @for (
          ability of currentPokemon.abilities;
          track $index;
          let i = $index
        ) {
          <div
            class="ability-name"
            [class.select]="currentAbilityIndex === i"
            (click)="clickAbility(ability, i)"
          >
            {{ ability }}
          </div>
        }
      }
    </div>
  </div>

  @if (pokemon.form && pokemon.form.length > 1) {
    <div class="pokemon-form-buttons">
      @for (form of pokemon.form; track form; let i = $index) {
        <button
          class="form-button"
          [class.active]="i === currentFormIndex"
          (click)="selectForm(i)"
        >
          {{ form.formName }}
        </button>
      }
    </div>
  }

  @if (currentPokemon.evolutionCondition) {
    <div class="pokemon-card-extra">
      <div class="extra-title">
        <strong>진화 정보</strong>
      </div>
      <div class="extra-section extra-evolution">
        @for (condition of evolutionConditionArray; track $index) {
          <div>{{ condition }}</div>
        }
      </div>
    </div>
  }
  @if (currentPokemon.wildItems) {
    <div class="pokemon-card-extra">
      <div class="extra-title">
        <strong>야생 정보</strong>
      </div>
      <div class="extra-section extra-evolution">
        <div>{{ currentPokemon.wildItems }}</div>
      </div>
    </div>
  }

  @if (currentPokemon.extra) {
    <div class="pokemon-card-extra">
      <div class="extra-title">
        <strong>추가 서식 정보</strong>
      </div>
      <div class="extra-section">
        @for (extraText of pokemonExtraText; track $index) {
          <div>{{ extraText }}</div>
        }
      </div>
    </div>
  }
  <div class="pokemon-card-extra">
    <app-pokemon-location
      [pokemonName]="pokemon.koreanName"
      [pokemonExtra]="pokemonFormName"
    ></app-pokemon-location>
  </div>
  <div class="pokemon-card-extra detail">
    <div class="extra-detail-icon" (click)="openModal()">☰</div>
  </div>
</div>
