<header class="app-header" [class.hidden]="isHeaderHidden">
  <h1
    class="header-title"
    [routerLink]="['/', gameVersion]"
    (click)="closeMenu()"
  >
    {{ getTitle() }}
  </h1>
  <div class="header-button">
    <div class="mode-switch">
      <input
        type="checkbox"
        id="mode-toggle"
        [(ngModel)]="isPopMode"
        (change)="onPopToggle()"
      />
      <label for="mode-toggle" class="switch-label">
        <span class="on-text">POP</span>
        <span class="off-text">OFF</span>
        <span class="ball"></span>
      </label>
    </div>
    <div
      class="hamburger-button"
      (click)="toggleMenu()"
      [class.active]="isMenuOpen"
    >
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </div>
</header>

@if (isMenuOpen) {
  <div class="overlay" (click)="closeMenu()"></div>
}

<nav class="nav-menu" [class.active]="isMenuOpen">
  <ul>
    <li>
      <a [routerLink]="['/', gameVersion, 'pokedex']" (click)="toggleMenu()"
        >포켓몬 도감</a
      >
    </li>
    <li>
      <a [routerLink]="['/', gameVersion, 'defense']" (click)="toggleMenu()"
        >방어상성</a
      >
    </li>
    <li>
      <a [routerLink]="['/', gameVersion, 'wild']" (click)="toggleMenu()"
        >야생 포켓몬</a
      >
    </li>
    <li>
      <a [routerLink]="['/', gameVersion, 'gotcha']" (click)="toggleMenu()"
        >포켓몬 획득 정보</a
      >
    </li>
    <!-- <li>
      <a [routerLink]="['/', gameVersion, 'item']" (click)="toggleMenu()"
        >아이템 정보</a
      >
    </li> -->
    <li>
      <a [routerLink]="['/', gameVersion, 'mart']" (click)="toggleMenu()"
        >상점 정보</a
      >
    </li>
    <li>
      <a [routerLink]="['/', gameVersion, 'move-detail']" (click)="toggleMenu()"
        >기술 정보</a
      >
    </li>
    <li>
      <a [routerLink]="['/', gameVersion, 'hollow']" (click)="toggleMenu()"
        >은혈 정보</a
      >
    </li>
    <!-- <li><a routerLink="/legend" (click)="toggleMenu()">전설의 포켓몬</a></li>
    <li><a routerLink="/trainer" (click)="toggleMenu()">트레이너 정보</a></li> -->
  </ul>
</nav>
