<main class="pokedex-page">
  <section class="search-section">
    <h2>포켓몬 검색</h2>
    <div class="search-controls">
      <input
        type="text"
        id="pokemon-search"
        placeholder="포켓몬 이름, 도감번호를 검색하세요..."
        [(ngModel)]="pokemonSearchInput"
        (keyup.enter)="onSearchButtonClick()"
        autocomplete="off"
      />
      <button id="searchButton" (click)="onSearchButtonClick()">검색</button>
    </div>

    @if (noResultsMessage) {
      <p id="noResultsMessage">{{ noResultsMessage }}</p>
    }
    <div id="searchResults" class="pokemon-grid">
      @for (pokemon of searchResults; track pokemon.id) {
        <div class="pokemon-card-wrapper">
          <app-pokemon-card
            [pokemon]="pokemon"
            (defenseEvent)="onTypesClick($event)"
          >
          </app-pokemon-card>
        </div>
      }
    </div>
  </section>

  <div class="defense-container" [class.active]="isDefenseOpen">
    <div class="header">
      <div class="header-line" (click)="onTypeClose()">
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </div>
    <div class="defense-box">
      <app-defense></app-defense>
    </div>
  </div>

  <nav class="pagination-container">
    <ul class="pagination-list">
      <li
        class="pagination-item prev"
        [class.disabled]="pokemonSearchOffset === 0"
      >
        <button style="width: 100%" (click)="onPageButtonClick(false)">
          <i class="fas fa-angle-left"></i>
        </button>
      </li>
      <li class="pagination-item next">
        <button style="width: 100%" (click)="onPageButtonClick(true)">
          <i class="fas fa-angle-right"></i>
        </button>
      </li>
    </ul>
  </nav>
</main>

@if (isHelperOpen) {
  <app-pokedex-guide class="helper"></app-pokedex-guide>
}
