<section class="hollow-section">
  <div class="hollow-container">
    @for (hollowData of hollowDatas; track $index) {
      <div class="location-section">
        <div class="location-header">
          <h2>{{ hollowData.locationName }}</h2>
          @if (hollowData.description) {
            <h2>{{ hollowData.description }}</h2>
          }
        </div>

        <div>
          <div class="pokemon-grid">
            @for (group of hollowData.groups; track group.pokemonName) {
              <div
                class="pokemon-card"
                (click)="onPokemonClick(group.pokemonName)"
              >
                <div class="pokemon-image-wrapper">
                  <img
                    [ngSrc]="getPokemonImageUrl(group.pokemonName)"
                    width="96"
                    height="96"
                    [alt]="group.pokemonName"
                    class="pokemon-image"
                  />
                </div>
                <div class="pokemon-info">
                  <span class="pokemon-name">{{ group.pokemonName }}</span>
                  <span class="pokemon-ability">{{ group.ability }}</span>
                </div>
                <div class="pokemon-rate-divider"></div>
                <div class="pokemon-rate-container">
                  <span
                    class="pokemon-rate"
                    [ngClass]="getBadgeClass(group.rateType)"
                    >{{ group.rateType }}</span
                  >
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    }
  </div>
</section>
