<section class="wild-section">
  <h2>야생 포켓몬 정보 검색</h2>
  <div class="search-controls">
    <input
      id="item-search"
      type="text"
      placeholder="장소, 포켓몬을 검색"
      [formControl]="searchContext"
    />
  </div>
  <div class="wild-container">
    @for (
      locationData of filteredWildData$ | async;
      track locationData.index;
      let i = $index
    ) {
      <div class="location-section">
        <div class="location-header" (click)="toggleChild(i)">
          <h2
            [innerHTML]="
              locationData.value.locationName | highlight: searchContext.value
            "
          ></h2>
        </div>

        <app-wild-region
          style="scroll-margin-top: 80px"
          [itemIndex]="i"
          [searchContext]="searchContext"
          [regionDatas]="locationData.value.regionDatas"
          [pokemonCatchStatus]="pokemonCatchStatus"
          (pokemonCaught)="handlePokemonCaught($event)"
        >
        </app-wild-region>
      </div>
    }
  </div>
</section>
