@if (moves) {
  <div class="move-tabs-container">
    <mat-tab-group
      class="modal-tabs"
      headerPosition="above"
      animationDuration="0ms"
    >
      <mat-tab label="자력기 목록">
        <div class="tab-content drawer-content">
          <table>
            <thead>
              <tr>
                <th>레벨</th>
                <th>기술 이름</th>
              </tr>
            </thead>
            <tbody>
              @for (move of moves.learn; track $index) {
                <tr (click)="openMoveCard(move.moveName)">
                  <td>{{ move.moveLv }}</td>
                  <td class="move-name-cell">
                    <span class="move-chip">{{ move.moveName }}</span>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </mat-tab>

      <mat-tab label="TM 목록">
        <div class="tab-content drawer-content">
          <table>
            <thead>
              <tr>
                <th>기술 이름</th>
              </tr>
            </thead>
            <tbody>
              @for (move of moves.tm; track $index) {
                <tr (click)="openMoveCard(move)">
                  <td class="move-name-cell">
                    <span class="move-chip">{{ move }}</span>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </mat-tab>

      <mat-tab label="기술 가르침 목록">
        <div class="tab-content drawer-content">
          <table>
            <thead>
              <tr>
                <th>조각</th>
                <th>기술 이름</th>
              </tr>
            </thead>
            <tbody class="drawer-tutor">
              @for (tutor of moves.tutor; track tutor) {
                @for (move of tutor.moves; track move) {
                  <tr (click)="openMoveCard(move)">
                    <td [class]="tutor.tutorName"></td>
                    <td class="move-name-cell">
                      <span class="move-chip">{{ move }}</span>
                    </td>
                  </tr>
                }
              }
            </tbody>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
}
