<section class="card-box">
  <div class="patch-note">
    <div class="version-box">
      <div>공통 패치노트</div>
      <div>스프라이트 POP 모드 추가</div>
      <div>검색 초기화 기능 추가</div>
      <div>즐겨찾기 기능 추가</div>
      <div>4.04 패치 반영</div>
      <div>야생 포켓몬 정보에서 서식지 도감 추가</div>
    </div>
    <br />
    <div class="version-box">
      <div>버그 수정</div>
      <div>도감 이미지 출력 오류 수정(미니브 계열, 짜랑꼬 계열 등)</div>
      <div>스프라이트 오류 및 누락 수정(암멍이 등)</div>
      <div>올리르바 계열 기술 오류 수정</div>
      <div>어나더폼이 있는 포켓몬에 대해 타입 검색이 안되는 오류 수정</div>
      <div>기술명 오타 수정</div>
      <div>폼이 있는 포켓몬에 대한 기술표 미출력 오류 수정</div>
      <div>클래식 스프라이트 오류 수정</div>
    </div>
  </div>
</section>

<section class="issue-send">
  <a [href]="contactFormUrl" target="_blank">이슈 제보 링크</a>
</section>
